
body{
    font-family:"Poppins", sans-serif;;
}
.header{
    background-image: url("../img/backg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height: 100vh;
}
.title{
    color: white;
    text-transform: uppercase;
    text-align: right;
    margin-right:  20%;
    margin-top: 5%;
}
.header-category{
    background-image: url("../img/backg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
   height: 60vh;
}
.product-details{
    margin-top: 10px;
    margin-bottom: 50px;
}
.icon{
    width: 60px;
    height: auto;
}
.article img{
    width: 100%;
    height: fit-content;
}
.price h6{
    font-size: 15px;
}
del{
    color: #888888;
}
.product-name{
    text-transform: uppercase;
    margin-bottom: 10px;
}
footer{
    margin-top: 50px;
    color: white;
    background-image:url("../img/blinking.webp");
    background-repeat:no-repeat;
    background-size: cover;
    padding: 50px;
}
.each-link{
    display: flex;
    text-decoration: none;
    font-size: 15px;
    color: black;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
   height: 30px;
}
.each-link i:hover{
   color: white;
   background-color: purple;

}
.each-link i{
    padding: 10px 10px;
    border-radius: 50px;
    color: white;
    background-color: palevioletred;
 }
 .each-link:hover p{
    text-align: center;
    left:45px;
    visibility: visible;
    opacity: 1;
    position: static;
    color: purple;
}
.each-link p{
    position: absolute;
    left: -45px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    width: 100px;
}
.info{
    display: flex;
    box-sizing: border-box;
}
.article .nav-link{
color: white;
}
h6{
    display: inline-block;
}
.sale-price{
    margin-left: 10px;
}
.btn1:hover{
    width: 100px;
}
.f-icon img{
    transition: all 0.3s ease 0s;
}
.article{
    background-image:url("../img/background.webp");
    background-repeat:no-repeat;
    background-size: cover;

}
.greybox{
    background-color: white;
    box-shadow: 0 5px 30px #888888;  
}
.navbar{
    margin: 0px 20px;
}
.sticky-top{
    margin: 0 0;
}
.smallbanner{
    box-shadow: 0 5px 30px #888888;  
    margin-top: 100px;
}
.text{
    padding: 12rem;
}
.slide{
    overflow: hidden;
}
.blank{
    padding: 40px 0px;
}
.navbar {
    background-color: white;
    padding-top: 0px;

}
.navbar-brand img{
    height: 100px;
}
.navbar-brand{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.nav-link{
    color: black;
}
 .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
   .navbar .collapse .nav-item a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    font-size: 16px;
    padding: 20px 20px;
 }
 .navbar .collapse .nav-item:hover .nav-link{
     color: purple;
 }
 .navbar .collapse .dropdown-menu .dropdown-item:hover {
    background-color:rgb(248, 195, 248);
    color: white;
   }
   .navbar .collapse .dropdown-menu {
       padding: 0px;
   }
   .navbar .collapse .dropdown-menu .dropdown-item {
    padding: 0 30px;
    width: 200px;
    line-height: 45px;
   }
   .navbar .collapse .nav-item .nav-link.active{
color: purple;
   }
   .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
.product-category{
    box-shadow: 0 5px 30px #888888;  
}
.product-filter{
    margin-top: 40px;
    box-shadow: 0 5px 30px #888888;
    padding-bottom: 10px;
  }
.product-category ul{
    padding: 0px 20px;
}
.head{
    padding: 20px 20px;
    background-color: plum;
    color: white;
}
.head p{
    display: inline;
    padding: 0px 0px;
}
.left{
    margin-right: 40%;
}
.product-category li{
    border-bottom: solid grey 1px;
    list-style-type: none;
    padding: 15px 20px;
   
}
.product-category a{
    color: black;
    text-decoration: none;
}
.product-category a:hover{
    color: blueviolet;
}
.choice li{
list-style-type: none;
margin-bottom: 0.5rem;

}
.choice label{
    font-size: 14px;
}
.choice input{
    padding: 20px;
}
.sub-head{
    padding: 0px 20px;
    line-height: 60px;
    font-weight: bold;
}
.base-price{
    /* margin: 20px; */
    position: relative;
    height: 6px;
    background-color: #eee;
}
.price-min{
    width: 10px;
    height: 10px;
    border-radius: 10px 10px;
    background-color: purple;
    padding: 10px 10px;
    position: absolute;
    top:25%;
    z-index: 99;
}
.price-max{
    width: 10px;
    height: 10px;
    border-radius: 10px 10px;
    background-color: purple;
    padding: 10px 10px;
    position: absolute;
    top:25%;
    right: 0;
    z-index: 99;
}
.price{
    position: relative;
    padding: 20px;
}
.filter-bar select{
    box-sizing: border-box;
    margin-left: 20px;
height: 35px;
padding: 0px 20px;
}
.product-area .line-product{
    margin-top: 20px;
}
.price-info{
    margin-top: 20px;
    text-align: right;
}
.price-info p{
    display: inline-block;
}
.page{
    text-align: right;
}
.brows li label{
width: 70px;
font-size: 17px;
}
.brows-2 li label{
    width: 45%;
    font-size: 17px;
    }
.sidename{
    text-align: center;
    font-size: 30px;
    margin: 20px;

}



















/* .navbar-brand img{
    height: 100px;
}
.navbar-brand{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.navbar{
    background-color: white;
    box-shadow: 0 5px 30px #888888;  
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 .navbar .collapse .dropdown:hover, .navbar .collapse a:hover {
  background-color:rgb(248, 195, 248);
 }
 .navbar .collapse .nav-item a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    font-size: 12px;
    padding: 20px 20px;
 }
 .navbar .collapse .nav-item .dropdown-menu li{
   padding: 0px 30px;
   line-height: 45px;
     }
 .collapse{
     margin-left: 25%;
 }
.dropdown-menu a:hover{
background-color: purple;
color:white;
 }
 .navbar .collapse .nav-item .dropdown-menu a:hover{
color: white;
 }
 .dropdown-menu li:hover{
    background-color: purple;
     }
    .nav-item .dropdown-menu{
         padding: 0px 0px;
         border: 0px 0px;
     } */
     /* This line can be removed it was just for display on CodePen: */
    
    .middle {
        position: relative;
        width: 100%;
        max-width: 500px;
    }
    
    .slider {
        position: relative;
        z-index: 1;
        height: 10px;
        margin: 0 15px;
    }
    .slider > .track {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        background-color: #c6aee7;
    }
    .slider > .range {
        position: absolute;
        z-index: 2;
        left: 25%;
        right: 25%;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        background-color: #eee;
    }
    .slider > .thumb {
        position: absolute;
        z-index: 3;
        width: 30px;
        height: 30px;
        background-color: purple;
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgba(98,0,238,.1);
        transition: box-shadow .3s ease-in-out;
    }
    .slider > .thumb.left {
        left: 25%;
        transform: translate(-15px, -10px);
    }
    .slider > .thumb.right {
        right: 25%;
        transform: translate(15px, -10px);
    }
    .slider > .thumb.hover {
        box-shadow: 0 0 0 20px rgba(98,0,238,.1);
    }
    .slider > .thumb.active {
        box-shadow: 0 0 0 40px rgba(98,0,238,.2);
    }
    
    input[type=range] {
        position: absolute;
        pointer-events: none;
        -webkit-appearance: none;
        z-index: 2;
        height: 10px;
        width: 100%;
        opacity: 0;
    }
    input[type=range]::-webkit-slider-thumb {
        pointer-events: all;
        width: 30px;
        height: 30px;
        border-radius: 0;
        border: 0 none;
        background-color: red;
        -webkit-appearance: none;
    }
    